/* ------------------------------ 
  トップ画面
------------------------------ */
.jumbotron {
  height: 100vh;
  background:url('../images/sample2.jpg') center no-repeat; 
  background-size: cover;
  margin: 0 auto 125px;
}

.main-contents {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto 125px;
  transform: translateY(-35px);
}

.main-contents .img {
  width: 100%;
  height: 38rem;
  object-fit: cover;
}

.main-contents .main-img {
  margin-left: auto;
}

.main-txt {
  position: absolute;
  bottom: 12rem;
  left: 30px;
  width: 400px;
}

.list-group {
  margin: 0 auto 125px;
}

.card-group {
  overflow: hidden;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto 125px;
}

.card {
  margin-right: 15px;
  margin-left: 15px;
}

.card-img {
  height: 180px;
  width: 100%;
}

@media (max-width: 1400px) {
  .main-img {
    width: calc(100% - 360px);
  }
}